<div class="nested-fields">
  <div class="row">
    <div class="col-5"><%= f.text_area :explanation, class: "form-control", placeholder: "説明" %></div>
    <div><%= f.file_field :process_image, multiple: true %></div>
    <div class="col-1 px-0 w-auto">
      <%= link_to_remove_association "削除", f, class: "btn btn-outline-danger btn-block" %>
    </div>
  </div>
</div>