<div class="row">
  <% recipes.each do |recipe| %>
    <div class="col-md-3">
      <div class="recipe_image">
        <%= image_tag recipe.image.url, size: "200x200" %>
      </div>
      <div class="recipe_title">
        <%= link_to recipe.title, recipe_path(recipe) %>
      </div>
    </div>
  <% end %>
</div>