<% if users.any? %>
  <ul class="list-unstyled">
    <% users.each do |user| %>
      <li class="media">
        <%= image_tag user.profile_image.url, size: "80x80", class: "rounded-circle" %>
        <div class="media-body ml-2 col-md-11">
          <div>
            <%= link_to user.name, user_path(user) %>
          </div>
          <div>
            <p><%= user.profile %></p>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
  <%= paginate users %>
<% end %>